.bord-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bord-title-input {
  text-align: center;
  border: none;
  border-bottom: 3px solid !important;
  font-size: 48px;
  width: 350px;
}

.bord-title-input:focus {
  border: none;
  outline: none;
}

.action-button {
  height: 50px;
  width: 50px;
  min-width: 50px;
  display: flex;
  font-size: 20px;
  border-radius: 0px;
  border: none;
  background-color: black;
  padding: 0px;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.action-button:hover {
  background-color: #cfdef3;
  cursor: pointer;
}

.action-button:disabled {
  background-color: gray;
}

.svg {
  width: 30px;
  height: 30px;
}
.small-svg {
  width: 15px;
  height: 15px;
}

.creation-card-input {
  width: 100%;
  font-size: 24px;
  padding: 0px;
  border: none;
}

.creation-card-input:focus {
  border-width: 1px;
  outline: none;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  display: flex;
  height: 50px;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.card-container.tasks > .card:first-child > .task-actions > #up {
  background-color: gray !important;
  pointer-events: none;
}

.card-container.tasks > .card:last-child > .task-actions > #down {
  background-color: gray !important;
  pointer-events: none;
}
.small {
  height: 25px;
  width: 25px;
  min-width: 25px;
}

.task-actions {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  min-width: 50px;
  max-width: 50px;
}

.card-title {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 8px;

  border-bottom: 1px solid;
  border-top: 1px solid;
  box-sizing: border-box;
  border-width: 1px;
  border-right: none;
  border-left: none;
}

.edit-window-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;

  z-index: 1;
}

.edit-dialog {
  display: flex;

  flex-direction: column;
  align-items: center;

  height: 550px;
  width: 450px;

  background-color: white;
}

.edit-dialog-header {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.edit-header-label {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.edit-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;

  height: 500px;
  width: 350px;
}

.card.edit-card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0px;
  height: 50px;
  width: 350px;
}

.edit-description {
  display: flex;
  height: 200px;
  width: 350px;
  padding: 0px;
  margin: 0px;
  font-size: 24px;
  border: 1px solid;
  resize: none;
}

.edit-description:focus {
  border-width: 1px;
  outline: none;
}

.edit-card-title {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 8px;

  border-bottom: 1px solid;
  border-top: 1px solid;
  box-sizing: border-box;
  border-width: 1px;
  border-right: 1px solid;
  border-left: none;
}
