.bord-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bord-title-input {
  text-align: center;
  border: none;
  border-bottom: 3px solid !important;
  font-size: 48px;
  width: 350px;
}
.bord-title-input:focus {
  border: none;
  outline: none;
}

.creation-card {
  display: flex;
  height: 50px;
  width: 350px;
  align-items: center;
  justify-content: space-between;
  border: 3px solid;
  border-radius: 5px;
}

.buttons {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: blueviolet;
  border-radius: 0px;
  border: none;
  background-color: black;
}

.buttons:hover {
  background-color: #cfdef3;
  border-radius: 2px;
}

.creation-card-input {
  height: 40px;
  width: 240px;
  border: none;
  font-size: 24px;
  padding: 0;
}

.creation-card-input:focus {
  border: none;
  outline: none;
}

.creation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
